@{
    Layout = "layout.cshtml";
}

<div class="col_3">

</div>
<div class="col_6">
    <label for="username">Login</label>
    <input id="username" type="text" placeholder="Username" />
    <input id="password" type="text" placeholder="Password" />
    <button class="medium green">Sign In</button>
</div>